<!DOCTYPE html>
<html  ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="menustyle.css">
    <title>Menu Card</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./menu.js"></script>

</head>
<body>
 <header>
 <div class="navbar">
    <img src="5528439.jpg">
    <span>Hot and Spicy Chinese Resturant</span>
    <a href="index1.html" title="Home Page">Home</a>   
    &nbsp;
    <a href="AboutUs.html" title="About Us Page"> About us</a>
    &nbsp;
    <a href="Book.html">Book with Us</a>
    </div>
 </header>
 <section>
    
    <div class="menu">
        <h1 >Hot and Spicy Delicious Dishes!!</h1>
        <div class="search">
             <input type="text" id="fname" placeholder="Search Items" ng-model="Search1">
        </div>

        <div ng-controller='namesCtrl'>
        <table>
            <tr>
         <th rowspan="2">Category</th>
        <th rowspan="2">Items</th>
        <th colspan="2"> Price</th>
        </tr>
        <tr>
            <th>Half</th>
            <th>Full</th>
        </tr>
        <tr  ng-repeat="n in datum | filter: Search1">
        <td>{{n.id | category}}</td>
        <td>{{n.name }}</td>
        <td> {{n.halfprice | moreprice2}}</td>
        <td> {{n.fullprice | moreprice}}</td>
        </tr>
        
         <tr>
            <td colspan="3">
                <a href="order.html">Order Now !!</a>
            </td>
         </tr>
        </table>
        </div>
    </div>
 </section>
</body>
</html>
